<h1><%= @patient.name %></h1>


<%= @patient.appointments.each do |appointment| %>
    <%= specification_time = ("%B %d, %Y at %M:%S") %>
    <%= link_to appointment.appointment_datetime.strftime(specification_time), patient_path %>
<% end %>
